name: Pull Request

on:
  pull_request:
    branches:
      - develop
  workflow_dispatch:

jobs:
  test_poc:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2

      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with: 
          access_token: ${{ github.token }}
      
      - uses: maxim-lobanov/setup-xcode@v1
        with:
         xcode-version: latest-stable

      - uses: ruby/setup-ruby@v1

      - name: Install Bundler
        run: gem install bundler

      - name: Install Gems
        run: bundle install

      - name: Swift Packages Cache
        uses: actions/cache@v2
        id: cache
        with:
          path:
            Build/ScourcePackages
            Build/Build/Products
          key: ${{ runner.os }}-deps-v1-${{ hashFlies('BILDsolid.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved') }}
          restire-keys: ${{ runner.os}}-deps-v1-